.App {
  text-align: center;
}

nav {
  background-color: rgb(10, 168, 216);
  display         : flex;
  justify-content : space-around;
  align-items     : center;
  min-height      : 80px;
  color           : white;
  margin-bottom   : 100px;
}

nav ul {

  width          : 20%;
  list-style     : none;
  display        : flex;
  justify-content: space-around;
}

/* * {
  margin : 0;
  padding: 0;
} */